In [29]:
# https://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:average_directional_index_adx

In [1]:
import pandas as pd

import sys
sys.path.append("..") # Adds higher directory to python modules path.
#from ta import *
from ta import *

In [2]:
high_data =[30.19830,
30.27760,
30.44580,
29.34780,
29.34770,
29.28860,
28.83340,
28.73460,
28.66540,
28.85320,
28.63560,
27.67610,
27.21120,
26.86510,
27.40900,
26.94410,
26.51890,
26.51890,
27.09270,
27.68600,
28.44770,
28.52670,
28.66540,
29.01160,
29.87200,
29.80280,
29.75290,
30.65460,
30.59510,
30.76350,
31.16980,
30.89230,
30.04020,
30.66450,
30.59510,
31.97240,
32.10110,
32.03170,
31.62550,
31.85340,
32.70550,
32.76480,
32.57660,
32.13080,
33.12150,
33.19
]

low_data = [29.40720,
29.31820,
29.96110,
28.74430,
28.55660,
28.40810,
28.08180,
27.42890,
27.65650,
27.83450,
27.39920,
27.09270,
26.18260,
26.13320,
26.62770,
26.13320,
25.43070,
25.35180,
25.87600,
26.96400,
27.14210,
28.01230,
27.88400,
27.99280,
28.76430,
29.14020,
28.71270,
28.92900,
30.03040,
29.38630,
30.13650,
30.42670,
29.34670,
29.99060,
29.51520,
30.94180,
31.53640,
31.35800,
30.92200,
31.19940,
32.13080,
32.22980,
31.97240,
31.55620,
32.21010,
32.63
]

close_data = [29.87200,
30.23810,
30.09960,
28.90280,
28.92250,
28.47750,
28.55660,
27.55760,
28.46750,
28.27960,
27.48820,
27.23100,
26.35070,
26.33090,
27.03330,
26.22210,
26.01440,
25.46050,
27.03330,
27.44870,
28.35860,
28.42780,
27.95300,
29.01160,
29.37760,
29.35760,
28.91070,
30.61490,
30.05020,
30.18900,
31.12020,
30.53560,
29.78270,
30.04020,
30.48610,
31.46700,
32.05150,
31.97240,
31.13020,
31.65510,
32.63600,
32.58660,
32.19030,
32.10110,
32.93350,
33.0
]

In [3]:
df = pd.DataFrame()
df['high'] = high_data
df['low'] = low_data
df['close'] = close_data

In [4]:
close = df['close']
high = df['high']
low = df['low']
n = 14
fillna = False

In [8]:
cs = close.shift(1)
pdm = high.combine(cs, lambda x1, x2: max(x1, x2) if np.isnan(x1) == False and np.isnan(x2) == False else np.nan)
pdn = low.combine(cs,  lambda x1, x2: min(x1, x2) if np.isnan(x1) == False and np.isnan(x2) == False else np.nan)
tr = pdm - pdn

trs_initial = np.zeros(n-1)
trs = np.zeros(len(close) - (n - 1))
trs[0] = tr.dropna()[0:n].sum()
tr = tr.reset_index(drop=True)
for i in range(1, len(trs)-1):
    trs[i] = trs[i-1] - (trs[i-1]/float(n)) + tr[n+i]

up = high - high.shift(1)
dn = low.shift(1) - low
pos = abs(((up > dn) & (up > 0)) * up)
neg = abs(((dn > up) & (dn > 0)) * dn)

dip_mio = np.zeros(len(close) - (n - 1))
dip_mio[0] = pos.dropna()[0:n].sum()

pos = pos.reset_index(drop=True)
for i in range(1, len(dip_mio)-1):
    dip_mio[i] = dip_mio[i-1] - (dip_mio[i-1]/float(n)) + pos[n+i]

din_mio = np.zeros(len(close) - (n - 1))
din_mio[0] = neg.dropna()[0:n].sum()

neg = neg.reset_index(drop=True)
for i in range(1, len(din_mio)-1):
    din_mio[i] = din_mio[i-1] - (din_mio[i-1]/float(n)) + neg[n+i]

dip = np.zeros(len(trs))
for i in range(len(trs)):
    dip[i] = 100 * (dip_mio[i]/trs[i])

din = np.zeros(len(trs))
for i in range(len(trs)):
    din[i] = 100 * (din_mio[i]/trs[i])

dx = 100 * np.abs((dip - din) / (dip + din))

adx = np.zeros(len(trs))
adx[n] = dx[0:n].mean()

for i in range(n+1, len(adx)):
    adx[i] = ((adx[i-1] * (n - 1)) + dx[i-1]) / float(n)

adx = np.concatenate((trs_initial, adx), axis=0)
adx = pd.Series(data=adx, index=close.index)

if fillna:
    adx = adx.replace([np.inf, -np.inf], np.nan).fillna(20)

/Users/lecrintech/projects/python/ta/env/lib/python3.6/site-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in double_scalars
/Users/lecrintech/projects/python/ta/env/lib/python3.6/site-packages/ipykernel_launcher.py:38: RuntimeWarning: invalid value encountered in double_scalars

In [9]:
adx

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      0.000000
7      0.000000
8      0.000000
9      0.000000
10     0.000000
11     0.000000
12     0.000000
13     0.000000
14     0.000000
15     0.000000
16     0.000000
17     0.000000
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.000000
24     0.000000
25     0.000000
26     0.000000
27    33.583346
28    32.153495
29    29.929224
30    28.357618
31    26.898269
32    25.776479
33    23.945905
34    22.783298
35    22.071526
36    21.527598
37    20.799472
38    19.590574
39    18.717556
40    18.751525
41    18.837766
42    18.554378
43    17.726855
44    17.954503
45    18.228247
dtype: float64

In [10]:
df

       high      low    close
0   30.1983  29.4072  29.8720
1   30.2776  29.3182  30.2381
2   30.4458  29.9611  30.0996
3   29.3478  28.7443  28.9028
4   29.3477  28.5566  28.9225
5   29.2886  28.4081  28.4775
6   28.8334  28.0818  28.5566
7   28.7346  27.4289  27.5576
8   28.6654  27.6565  28.4675
9   28.8532  27.8345  28.2796
10  28.6356  27.3992  27.4882
11  27.6761  27.0927  27.2310
12  27.2112  26.1826  26.3507
13  26.8651  26.1332  26.3309
14  27.4090  26.6277  27.0333
15  26.9441  26.1332  26.2221
16  26.5189  25.4307  26.0144
17  26.5189  25.3518  25.4605
18  27.0927  25.8760  27.0333
19  27.6860  26.9640  27.4487
20  28.4477  27.1421  28.3586
21  28.5267  28.0123  28.4278
22  28.6654  27.8840  27.9530
23  29.0116  27.9928  29.0116
24  29.8720  28.7643  29.3776
25  29.8028  29.1402  29.3576
26  29.7529  28.7127  28.9107
27  30.6546  28.9290  30.6149
28  30.5951  30.0304  30.0502
29  30.7635  29.3863  30.1890
30  31.1698  30.1365  31.1202
31  30.8923  30.4267  30.5356
32  30.0402  29.3467  29.7827
33  30.6645  29.9906  30.0402
34  30.5951  29.5152  30.4861
35  31.9724  30.9418  31.4670
36  32.1011  31.5364  32.0515
37  32.0317  31.3580  31.9724
38  31.6255  30.9220  31.1302
39  31.8534  31.1994  31.6551
40  32.7055  32.1308  32.6360
41  32.7648  32.2298  32.5866
42  32.5766  31.9724  32.1903
43  32.1308  31.5562  32.1011
44  33.1215  32.2101  32.9335
45  33.1900  32.6300  33.0000